<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
    <title>eGradebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="main-wrapper">
    <header class="box box1">
        <figure class="header">
            <img src="assets/biret.png" alt="Student Grades Manager" style="width:8%">
            <h1>Welcome to eGradebook!</h1>
        </figure>
    </header>
    <div class="contentBody">
        <nav class="navbar">
            <ul>
                <li><a href="#students">Student list</a></li>
                <li><a href="#courses">Course list</a></li>
            </ul>
        </nav>
        <article id="students">
            <h2>Student list</h2>
            <table>
                <thead>
                <tr>
                    <th class="lp-col">Lp</th>
                    <th class="index-col"><input data-bind="textInput: viewModel.students.getIndex"
                                                 type="text" name="indexColumn" placeholder="Index"></th>
                    <th class="firstname-col"><input data-bind="textInput: viewModel.students.queryParams.firstName"
                                                     type="text" name="firstNameColumn" placeholder="John"></th>
                    <th class="lastname-col"><input data-bind="textInput: viewModel.students.queryParams.lastName"
                                                    type="text" name="lastNameColumn" placeholder="Doe"></th>
                    <th class="birthday-col"><input data-bind="textInput: viewModel.students.queryParams.birthday"
                                                    type="text" name="birthdayColumn" placeholder="Birthday"
                                                    onfocus="(this.type='date')"
                                                    onblur="(this.type='text')">
                        <img class="relPic" src="assets/up-arrow.png"/>
                        <input class="graterCheckbox" type="checkbox"
                               data-bind="checked: viewModel.students.getRelationAfter"
                               value="UP">
                        <img class="relPic" src="assets/down-arrow.png"/>
                        <input class="lowerCheckbox" type="checkbox"
                               data-bind="checked: viewModel.students.getRelationBefore"
                               value="DOWN">
                    </th>

                    <th class="actions-col">Actions</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: students">
                <tr>
                    <td data-bind="text: $index() + 1" class="lp-col"></td>
                    <td><input data-bind="value: index" class="index-col" type="number" name="index" readonly></td>
                    <td><input data-bind="value: firstName" class="firstname-col" type="text" name="firstName"></td>
                    <td><input data-bind="value: lastName" class="lastname-col" type="text" name="lastName"></td>
                    <td><input data-bind="value: birthday" class="birthday-col" type="text" name="birthday"
                               onfocus="(this.type='date')"
                               onblur="(this.type='text')"></td>
                    <td class="actions-col">
                        <button data-bind="click:  $parent.students.getGrades">See grades</button>
                        <button type="button" data-bind="click:  $parent.students.delete">Delete</button>
                    </td>
                </tr>
                </tbody>
                <tr class="inputRow">
                    <form data-bind="submit: students.add">
                        <td class="lp-col"></td>
                        <td class="index-col"><input type="number" name="index" readonly></td>
                        <td class="firstname-col"><input type="text" name="firstName" placeholder="First name" required>
                        </td>
                        <td class="lastname-col"><input type="text" name="lastName" placeholder="Last name" required>
                        </td>
                        <td class="birthday-col"><input type="text" name="birthday" placeholder="Birthday"
                                                        onfocus="(this.type='date')"
                                                        onblur="(this.type='text')" required></td>
                        <td class="actions-col">
                            <button type="submit">Add</button>
                        </td>
                    </form>
                </tr>
            </table>
        </article>
        <article id="courses">
            <h2>Course list</h2>
            <table>
                <thead>
                <tr>
                    <th class="lp-col">Lp</th>
                    <th><input data-bind="textInput: viewModel.courses.queryParams.name" type="text"
                               name="nameColumn" placeholder="Name"></th>
                    <th><input data-bind="textInput: viewModel.courses.queryParams.lecturer"
                               type="text" name="lecturerColumn" placeholder="Lecturer"></th>
                    <th class="actions-col">Actions</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: courses">
                <tr>
                    <td data-bind=" text: $index() + 1"></td>
                    <td><input data-bind="value: name" type="text" name="name"></td>
                    <td><input data-bind="value: lecturer" type="text" name="lecturer"></td>
                    <td>
                        <button type="button" data-bind="click: $parent.courses.delete">Delete</button>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <form data-bind="submit: courses.add">
                        <td></td>
                        <td><input type="text" name="name" placeholder="Course name" required></td>
                        <td><input type="text" name="lecturer" placeholder="Lecturer" required></td>
                        <td>
                            <button type="submit">Add course</button>
                        </td>
                    </form>
                </tr>
            </table>
        </article>
        <article id="grades">
            <h2>Grade list</h2>
            <table>
                <thead>
                <tr>
                    <th><input type="text" name="course" data-bind="textInput: viewModel.grades.queryParams.courseName"
                               placeholder="Course"></th>
                    <th><input type="number" name="value" data-bind="textInput: viewModel.grades.queryParams.value"
                               placeholder="Grade"></th>
                    <th><input type="text" name="date" onMouseOver="this.type='date'" onMouseOut="this.type='text'"
                               placeholder="Assign date" data-bind="textInput: viewModel.grades.queryParams.date"></th>
                    <th class="actions-col">Actions</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: grades">
                <tr>
                    <td>
                        <select name="id" required data-bind="options: $parent.courses,
                                                  optionsText: function(i) { return i.name(); },
                                                  optionsValue: function(i) { return i.id(); },
                                                  optionsCaption: 'Choose course',
                                                  value: course.id ">
                        </select>
                    </td>
                    <td><input type="number" name="value" data-bind="value: value" step="0.5" min="2" max="5"></td>
                    <td><input type="text" name="date" data-bind="value: date"></td>
                    <td>
                        <button type="button" data-bind="click: $parent.grades.delete">Delete</button>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <form data-bind="submit: grades.add">
                        <td>
                            <select name="id" required data-bind="options: viewModel.courses,
                                                      optionsText: function(i) { return i.name(); },
                                                      optionsValue: function(i) { return i.id(); },
                                                      optionsCaption: 'Choose subject...',
                                                      value: viewModel.grades.selectedCourse">
                            </select>
                        </td>
                        <td><input type="number" name="value" value="2.0" step="0.5" min="2.0" max="5.0"/></td>
                        <td><input type="text" name="date" placeholder="Date" onfocus="(this.type='date')"
                                   onblur="(this.type='text')" required/></td>
                        <td>
                            <button type="submit">Assign grade</button>
                        </td>
                    </form>
                </tr>
            </table>
        </article>
    </div>
    <footer>
        <small>
            eGradeBook created by Dawid C. est. 2018.
            <br>
            <a href="http://www2.cs.put.poznan.pl/">Find more info on CS institute website</a>
        </small>
    </footer>
</div>
</body>
</html>