body {
    margin: 0;
    background-color: #6693C0;
    color: #092b17;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.contentBody {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

article:target {
    display: block;
    margin-left: 10px;
}

article {
    display: none;
    white-space: nowrap;
}

input {
    width: 95%;
}

header {
    background: #3F464C;
    display: inline-block;
    width: 100%;
}

nav {
    background: #2186C4;
    flex-grow: 1;
    min-width: 175px;
}

nav ul {
    list-style-type: none;
    padding: 1em 0 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;

}

.header img {
    max-width: 5em;
    max-height: 5em;
    min-width: 3em;
    min-height: 3em;
    margin-right: 1em;
    align-self: center;
}

.container ul {
    list-style: none;
    padding-left: 0.5em;
}

#students, #courses, #grades {
    flex-grow: 3;
}

.container a {
    text-decoration: none;
    color: white;
}

h2 {
    margin-top: 0px;
    padding-top: 10px;
    color: #195DA1;
    font-family: "Calibri";
    font-weight: bold;
    text-transform: capitalize;
}

li {
    padding: 10px;
}

li:hover {
    background: #2882a3
}

table {
    border-collapse: collapse;
}

table input {
    border: none;
    padding: 0.2em;
}

table tr:nth-child(even) {
    background-color: #7ecefd;
}

table tr:nth-child(odd) {
    background-color: #66a4c0;
}

table tr:hover {
    background-color: #2186C4;
}

table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #3F464C;
    color: white;
}

table td,
table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr th input,
table tr td input {
    width: auto;
}

table tr th input,
table tr th select {
    text-align: center;
}

table tr th input,
table tr td input,
table tr th select,
table tr td select {
    width: 100%;
    background-color: inherit;
    border: none;
    color: inherit;
}

/*table tr th input:invalid,*/
/*table tr td input:invalid,*/
/*table tr th select:invalid,*/
/*table tr td select:invalid{*/
/*border:3px solid red;*/
/*color: red;*/
/*}*/

footer {
    background: linear-gradient(#2186C4, white);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media print {
    footer,
    nav,
    header {
        display: none;
    }

    main table h3 {
        color: black;
    }

    main table tr td:last-of-type,
    main table tr th:last-of-type {
        display: none;
    }

    body,
    main table tr:nth-last-of-type(odd),
    main table tr:nth-last-of-type(even) {
        background-color: white;
        color: black;
        border-bottom: 1px solid black;
    }

    main table tr:last-of-type {
        border: none;
    }

    main table tr:first-of-type input::placeholder,
    main table tr:first-of-type:hover {
        background-color: white;
        color: black;
    }

    main table tr:first-of-type input::placeholder {
        font-size: 1.5em;
    }

    main input:invalid,
    select:invalid {
        border: none;
    }

    select::-ms-expand {
        display: none;
    }
}