body {
    margin: 0;
    background-color: #6693C0;
    color: #092b17;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.contentBody {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

article:target {
    display: block;
    margin-left: 10px;
}

article {
    display: none;
    white-space: nowrap;
}

input {
    width: 95%;
}

header {
    background: #3F464C;
    display: inline-block;
    width: 100%;
}

nav {
    background: #2186C4;
    flex-grow: 1;
    min-width: 175px;
}

nav ul {
    list-style-type: none;
    padding: 1em 0 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.inputRow td {
    padding: 0;
}

button {
    color: white;
    border: 1px solid #2186c4;
    background-color: #2186c4;
    border-radius: 2px;
    margin: 2px;
    box-shadow: 7px 7px 29px -8px rgba(0, 0, 0, 0.75);
    padding: 3px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #7ecefd;
    border: 1px solid #2186c4;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;

}

.header img {
    max-width: 5em;
    max-height: 5em;
    min-width: 3em;
    min-height: 3em;
    margin-right: 1em;
    align-self: center;
}

.container ul {
    list-style: none;
    padding-left: 0.5em;
}

#students, #courses, #grades {
    flex-grow: 3;
}

.container a {
    text-decoration: none;
    color: white;
}

h2 {
    margin-top: 0px;
    padding-top: 10px;
    color: #195DA1;
    font-family: "Calibri";
    font-weight: bold;
    text-transform: capitalize;
}

li {
    padding: 10px;
}

li:hover {
    background: #2882a3
}

table {
    border-collapse: collapse;
    color: white;

}

table input {
    border: none;
    padding: 0.2em;
}

table tr:nth-child(even) {
    background-color: #7ecefd;
}

table tr:nth-child(odd) {
    background-color: #66a4c0;
}

table tr:hover {
    background-color: #2186C4;
}

table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #3F464C;
    color: white;
}

table td,
table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr th input,
table tr td input {
    width: auto;
}

table tr th input,
table tr th select {
    text-align: center;
}

table tr th input,
table tr td input,
table tr th select,
table tr td select {

    background-color: inherit;
    border: none;
    color: inherit;
}

table tr th.lp-col,
table tr th.actions-col {
    border: none;
    color: #676962;
}

.relPic {
    height: 0.8em;
    width: 0.8em;
}

.lp-col {
    text-align: center;
}

.index-col {
    text-align: center;
}

table tr th input:invalid,
table tr td input:invalid,
table tr th select:invalid,
table tr td select:invalid {
    border: 2px solid red;
    border-radius: 2px;
    color: red;
}

footer {
    background: linear-gradient(#2186C4, white);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media print {
    footer,
    nav,
    header {
        display: none;
    }

    h2, table th, table h3 {
        color: black;
    }

    table tr td:last-of-type,
    table tr th:last-of-type {
        display: none;
    }

    table tr:last-child {
        display: none;
    }

    body,
    table tr:nth-last-of-type(odd),
    table tr:nth-last-of-type(even) {
        background-color: white;
        color: black;
        border-bottom: 1px solid black;
    }

    table tr:last-of-type {
        border: none;
    }

    table tr:first-of-type input::placeholder,
    table tr:first-of-type:hover,
    table th {
        background-color: white;
        color: black;
    }

    table tr:first-of-type input::placeholder {
        font-size: 1.5em;
    }

    main input:invalid,
    select:invalid {
        border: none;
    }

    table tr th input:invalid,
    table tr td input:invalid,
    table tr th select:invalid,
    table tr td select:invalid {
        border: none;
    }

    select::-ms-expand {
        display: none;
    }
}